
/* CSS Resets and general stuff*/

html, body {
    height: 100%;
	height: 100vh;
    height: calc(var(--vh, 1vh) *100);
	/*font-family: 'Proza Libre', sans-serif;*/
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.1em;
	color: #555555;
    margin: 0;
}

h1,h2, h3 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
     font-size: 3em;
     line-height: 1.3em;
     color: #575757;
     padding-bottom: 30px;
    
}


p,a,img {
    margin-top: 5px;
}



img {
    margin-bottom: 30px;
    align-self: center;
}

img#logo {
    margin-bottom:  50px;
}

/* Page Sections and general layout */

.wrapper {

	
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    background-size: cover;
    align-items: center;
    flex-direction: row;
    background-image: url("/img/ag_background.jpeg");
    background-position: center;
    background-attachment: fixed;

}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.box {
    background-color: white;
    width: 40%;
	padding: 30px 20px 30px 20px;
    flex-direction: column;
    display: flex;
    justify-content: left;
    margin-left: 5%;
    border: 2px solid #77777736;
}

.text {
    flex-direction:  column;
}


.box div {
	padding: 0 20px 0 0;
    display: flex;
    align-self: center;
    flex-direction: column;
}


a.button {
    display: flex;
    justify-content: center;

}

a.button img {
    border-bottom:  2px solid #ffffff;
}
    a.button img:hover {
        border-bottom:  2px solid #8CC63F;
    }



 @media only screen and (max-width:768px) {

    .center-box {
        width: 85%;
    }

    .box {
        width: 85%;
        margin: auto;
        align-self: center;
    }

    .section {
        height: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) *100);
    }
}
